[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/collinmurch/nvim
[submodule "Developer/scripts"]
	path = Developer/scripts
	url = https://github.com/collinmurch/scripts
[submodule "Developer/skills"]
	path = Developer/skills
	url = https://github.com/collinmurch/skills
