prefix_rule(pattern = ["docker"], decision = "allow",
    match = [
        "docker ps",
        "docker --help",
    ],
)
prefix_rule(pattern = ["git", "fetch"], decision = "allow",
    match = [
        "git fetch",
        "git fetch --all",
    ],
)
